<div fxLayout='column' fxFill fxLayoutAlign="space-around center" class="user-form password-set-new">
  <mat-card *ngIf='_userService.isLoggedIn()'>
  {{_userService.username}}, you are logged in.
  <button mat-raised-button (click)="logout()" color="primary">Logout</button>
</mat-card>

<mat-card *ngIf='!_userService.isLoggedIn()'>
  <mat-card-header>
    <mat-card-title>Enter new password</mat-card-title>
    <mat-card-subtitle>Please enter your new password twice so we can verify you typed it in correctly.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field fxFlex>
            <input matInput placeholder="New password" [(ngModel)]="password" type="password"  name="new-password" (keyup.enter)="newPassword()" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field fxFlex>
          <input matInput placeholder="Confirm password" [(ngModel)]="password_confirm" type="password" name="password" (keyup.enter)="newPassword()" required>
        </mat-form-field></td>
      </tr></table>
    </form>
    <div class='error-message' *ngFor="let msg of errorMsg">{{msg[0]&&msg[0]+': '}}{{msg[1]}}</div>
  <button mat-raised-button (click)="newPassword()" color="primary">Change my password</button>
  <mat-progress-bar class='password-setting-new' color="primary" [mode]="mode"></mat-progress-bar>
</mat-card-content>
</mat-card>
</div>
