.member-circle{
    margin-right: 10px;
    border-radius: 50%;
    border-style: none;
}
.round{
    margin-right: -8px;
    margin-left: -8px;
    border-radius: 50%;
}

.user-circle{
    vertical-align: middle;
  }
  .img-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: -8px;
}
