<div fxLayout='column' fxFill fxLayoutAlign="space-around center" class="user-form reset-complete">
<mat-card *ngIf='!_userService.isLoggedIn()'>
  <mat-card-header>
    <mat-card-title>Password reset complete</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <mat-divider [inset]="true"></mat-divider>
    Your password has been set. You may go ahead and <a mat-raised-button [routerLink]="['/login']">login now</a>
   <mat-divider [inset]="true"></mat-divider>
</mat-card-content>
</mat-card>
</div>
