.create-new{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.member-circle{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: none;
}
.round{
    width:32px;
    height:32px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 50%;
    line-height: 32px;
}

.user-circle{
    vertical-align: middle;
  }
  .img-circle{
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 50%;
}