<div fxLayout='column' fxFill fxLayoutAlign="space-around center" class="user-form confirm-passwd">
<mat-card *ngIf='!_userService.isLoggedIn()'>
  <mat-card-header>
    <mat-card-title>Password reset sent</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <mat-divider [inset]="true"></mat-divider>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
   <mat-divider [inset]="true"></mat-divider>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
 <mat-divider [inset]="true"></mat-divider>
 <mat-divider [inset]="true"></mat-divider>
    <a mat-flat-button [routerLink]="['/login']"> Go back to login.</a>
 <mat-divider [inset]="true"></mat-divider>
</mat-card-content>
</mat-card>
</div>
